@keyframes loader-background {
    0% {
        width: 100%;
        height: 100%;
        background-color: hsla(0,0%,100%,.9);
    }
    100% {
        width: 100%;
        height: 100%;
        background-color: hsla(0,0%,100%,.9);
    }
}

@keyframes menu-plate-loading {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}